h2{
    margin-bottom: 15px;
}
td, th{
    padding-left: 10px;
    padding-right: 10px;
}

table th {
    font-size: medium;
}

table td
{
    font-size: large;
}

table td input[type="submit"]
{
    font-size:medium;
}

.colored-table
{
    border-collapse: separate;
    border-spacing: 0px 3px;
}
    .colored-table td
    {
        padding-top: 0px;
        padding-bottom: 0px;
    }

.alternated-rows tbody tr:nth-child(odd)
{
    background-color: #D7D7ff;
}

.activeMenuItem
{
    font-weight: bold;
}

input[type="submit"]:disabled {
    color: grey;
}

    input[type="submit"]:disabled:hover {
        cursor: default;
    }

/* Accueil */
.working-user
{
    background-color: lightgreen;
}

.not-working-user
{
    background-color: coral;
}

/* Sous menu */
ul.submenu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
    border-bottom: solid 2px #c8c8c8;
    padding-bottom: 10px;
}

    ul.submenu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul.submenu li a {
            background: none;
            /*color: #999;*/
            text-decoration: none;
        }

        ul.submenu li a:hover {
            color: #333;
            text-decoration: none;
        }
.checkboxEntry label
{
    display: inline;
}

.checkboxEntry input[type=checkbox]
{
   margin: 2px;
   margin-left: 3px;
   vertical-align: text-bottom;
}

.errorText
{
    color: red;
}