.logedUser {
    background-color: lightgreen;
}

.notLogedUser {
    background-color: coral;
}

#homeUserTable {
    border-collapse: separate;
    border-spacing: 0 3px;
    width: 80%;
    font-weight: bold;
}

    #homeUserTable th {
        background-color: lightgray;
    }

    #homeUserTable tr {
        height: 5em;
    }

    #homeUserTable input {
        height: 5em;
        width: 100%;
        margin: 0;

    }

.buttonCell {
    padding: 0;
    text-align: right;
}